######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Gradle
######################
.gradle/
/build/

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar
